.venv/
config/stanford-corenlp-4.5.7/stanford-corenlp-4.5.7-models.jar
config/stanford-parser-full-2020-11-17/stanford-parser-4.2.0-models.jar
.vscode/
chkpt/
/backup/
data/backup/*_llama_filtered.json
results/
experiments/outputs/
experiments/tests/
experiments/eval_outputs/
experiments/semantic_outputs/
experiments/backup_outputs/
experiments/backup_outputs/
experiments/preprocessing_audits/
__pycache__/
config/.DS_Store
.DS_Store
feature.zip
data/final_data_feature_DeepBERT_test.csv
data/final_data_feature_DeepBERT_train.csv
data/final_data_feature_DeepBERT_valid.csv
feature/allFeatureReview_train.csv
feature/i_deep_train.csv
feature/interactions_train.csv
feature/item_feature_train.csv
feature/reviewer_feature_train.csv
feature/u_deep_train.csv
